$Very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
$Dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
$Soft-violet: rgb(171, 92, 219); /*(accent) */

$White: hsl(0, 0%, 100%); /* (main heading, stats) */
$paragraph-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
$stat-headings-white: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
